<h2 class="custom-header">Enter ID of Location to Update</h2>

<mat-form-field appearence="fill" class="custom-width">
    <mat-label class="input-text">Enter ID</mat-label>
    <input matInput [(ngModel)]="id">
</mat-form-field>

<div class="text-form">
    <h2 class="custom-header">Enter Information For Each Atributte of the Location to be Updated</h2>
    <mat-form-field appearence="fill" class="custom-width">
        <mat-label class="input-text">Enter Location Code</mat-label>
        <input matInput [(ngModel)]="locationCode">
      </mat-form-field>
      <mat-form-field appearence="fill" class="custom-width custom-margin">
        <mat-label class="input-text">Enter Name</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field>
      <mat-form-field appearence="fill" class="custom-width custom-margin">
        <mat-label class="input-text">Enter Description</mat-label>
        <input matInput [(ngModel)]="description">
      </mat-form-field>
      <mat-form-field appearence="fill" class="custom-width">
        <mat-label class="input-text">Enter Region</mat-label>
        <input matInput [(ngModel)]="region">
      </mat-form-field>
      <mat-form-field appearence="fill" class="custom-width custom-margin">
        <mat-label class="input-text">Enter Site</mat-label>
        <input matInput [(ngModel)]="site">
      </mat-form-field>
      <mat-form-field appearence="fill" class="custom-width custom-margin">
        <mat-label class="input-text">Enter Parent Guid</mat-label>
        <input matInput [(ngModel)]="parentId">
      </mat-form-field> 
</div>
<label class="checkbox-margin">
    <mat-slide-toggle type="checkbox" [(ngModel)]="inventoryLocation" class="custom-text"> 
        <span >Inventory Location </span>     
    </mat-slide-toggle>
    <button mat-stroked-button class="custom-outline custom-margin" (click)="updateData()">Submit</button>
</label>

<div *ngIf="errorMessage" class="error-message">
    <h2> {{ errorMessage }} </h2>
</div>

<div *ngIf="location" class="success-message">
    <h2>Location ID {{location.id}} has been successfully updated.</h2>
</div>
