.back-button {
    background-color: white; /* White background */
    color: black; /* Text color */
    padding: 10px 20px; /* Padding for button */
    border: none; /* Remove border */
    border-radius: 20px; /* Rounded corners */
    cursor: pointer;
    outline: none; /* Remove outline on focus */
    font-weight: bold; /* Optional: Make text bold */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
  }

  .button-container {
    position: absolute;
    top: 30px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
  }

  .input-box {
    border:none;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-bottom: 10px; /* Adjust spacing between input boxes */
  }

  .submit-button {
    background-color: white; /* White background */
    color: black; /* Text color */
    padding: 10px 20px; /* Padding for button */
    border: none; /* Remove border */
    border-radius: 20px; /* Rounded corners */
    cursor: pointer;
    outline: none; /* Remove outline on focus */
    font-weight: bold; /* Optional: Make text bold */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
    margin-left: 10px;
  }
  
  .checkbox-label {
    color: white;
    font-weight: bold;
}