.back-button {
    background-color: white; /* White background */
    color: black; /* Text color */
    padding: 10px 20px; /* Padding for button */
    border: none; /* Remove border */
    border-radius: 20px; /* Rounded corners */
    cursor: pointer;
    outline: none; /* Remove outline on focus */
    font-weight: bold; /* Optional: Make text bold */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
  }

  .button-container {
    position: absolute;
    top: 30px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
  }

  .input-box {
    border:none;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-bottom: 10px; /* Adjust spacing between input boxes */
  } 
  
  .checkbox-margin {
    margin-top: 10px;
  }

.custom-header {
  margin-top: 30px;
}

.custom-width {
  width: 30%;
}

.custom-margin {
  margin-left: 20px
}

.text-form {
  margin-top: 40px;
}

.custom-text {
  font-weight: bold;
}

.error-message {
  margin-top: 20px;
  color: red;
}

.success-message {
  margin-top: 20px;
  color: green;
}