<!-- <div class="button-container">
  <button mat-stroked-button routerLink="/home" >Back</button>
</div> -->

<div>
  <h2 style="margin-top: 30px;">Current Locations</h2>
</div>

<table class="locations-table">
  <tbody>
    <tr>
      <td><span>ID</span></td>
      <td><span>Location Code</span></td>
      <td><span>Name</span></td>
      <td><span>Description</span></td>
      <td><span>Inventory Location</span></td>
      <td><span>Region</span></td>
      <td><span>Site</span></td>
      <td><span>Parent ID</span></td>
    </tr>

      <tr *ngFor="let location of locations">
        <td>{{ location.id }}</td>
        <td>{{  location.location_code }}</td>
        <td>{{ location.name }}</td>
        <td>{{ location.description }}</td>
        <td>{{ location.inventory_location }}</td>
        <td>{{ location.region }}</td>
        <td>{{ location.site }}</td>
        <td>{{ location.parent_id }}</td>
      </tr>
  </tbody>
</table>