.locations-list {
    list-style-position: inside; /* Ensures bullets are inside the list items */
    text-align: center; /* Centers the list items */
    color: white;
  }
  
  .button-container {
    position: absolute;
    top: 30px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
  }


  .locations-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .locations-table td {
    padding: 8px;
    border: 1px solid #ddd;
  }

  .custom-header {
    margin-top: 30px;
  }

  .custom-background {
    background-color: transparent;
  }


  .transparent-button {
    background-color: transparent;
    border: none;
    display: flex !important;
    align-items: center;
    margin-left: 2%;
    justify-content: flex-start;
    padding: 4px 8px;
    font-size: 14px;
  }
  
  .transparent-button .button-text {
    order: 1;
    margin-right: 4px;
  }
  
  .transparent-button .button-icon {
    order: 2;
    font-size: 18px;
    height: 18px;
    width: 18px;
    color: darkgrey;
  }
  
  .transparent-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }