.locations-list {
    list-style-position: inside; /* Ensures bullets are inside the list items */
    text-align: center; /* Centers the list items */
    color: white;
  }
  
  .button-container {
    display: flex;
    align-items: center; /* Vertically centers the buttons */
    justify-content: flex-start; /* Align buttons to the start */
  }


  .locations-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .locations-table td {
    padding: 8px;
    border: 1px solid #ddd;
  }

  .custom-header {
    margin-top: 30px;
  }

  .table-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    overflow-x: auto;
  }

  .custom-background {
    background-color: transparent;
  }

  .export-button, .transparent-button {
    background-color: transparent;
    border: none;
    display: flex; /* Flex display for inline alignment */
    align-items: center; /* Vertical alignment */
    padding: 4px 8px; /* Consistent padding */
    font-size: 20px; /* Adjust font size if needed */
    cursor: pointer; /* Add a pointer cursor for better UX */
  }
  
  /* Specific styles for each button */
  .export-button {
    margin-left: 0; /* Adjusted margin */
  }
  
  .transparent-button {
    margin-left: 4.4%; /* Adjusted margin */
    margin-right: 82%;
    font-size: 14px; /* Adjust font size */
  }
  
  .transparent-button .button-text {
    margin-right: 4px;
  }
  
  .transparent-button .button-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
    color: darkgrey;
  }
  
  /* Hover effect */
  .transparent-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .error-message {
    margin-top: 20px;
    color: red;
  }

  .custom-margin {
    margin-left: 20px
  }

  

  .form-control {
    background-color: transparent;
  }