<!-- <div class="button-container">
    <button mat-stroked-button routerLink="/home" >Back</button>
</div> -->

<div style="margin-top: 30px;">
    <h2 style="color: primary">Enter Information For Each Atributte of the Location to be Added</h2>

    <mat-form-field appearence="fill" style="width: 30%;">
        <mat-label class="input-text">Enter Location Code</mat-label>
        <input matInput [(ngModel)]="locationCode">
      </mat-form-field>
      <mat-form-field appearence="fill" style="width: 30%; margin-left: 20px;">
        <mat-label class="input-text">Enter Name</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field>
      <mat-form-field appearence="fill" style="width: 30%; margin-left: 20px;">
        <mat-label class="input-text">Enter Description</mat-label>
        <input matInput [(ngModel)]="description">
      </mat-form-field>
      <mat-form-field appearence="fill" style="width: 30%;">
        <mat-label class="input-text">Enter Region</mat-label>
        <input matInput [(ngModel)]="region">
      </mat-form-field>
      <mat-form-field appearence="fill" style="width: 30%; margin-left: 20px;">
        <mat-label class="input-text">Enter Site</mat-label>
        <input matInput [(ngModel)]="site">
      </mat-form-field>
      <mat-form-field appearence="fill" style="width: 30%; margin-left: 20px;">
        <mat-label class="input-text">Enter Parent Guid</mat-label>
        <input matInput [(ngModel)]="parentId">
      </mat-form-field> 
</div>
<label style="margin-top: 10px;">
    <mat-slide-toggle type="checkbox" [(ngModel)]="inventoryLocation" style="font-weight: bold; "> 
        <span>Inventory Location </span>
    </mat-slide-toggle>
    <button mat-stroked-button class="custom-outline" (click)="createData()" style="margin-left: 20px;">Submit</button>
</label>
 
<div *ngIf="errorMessage" style="color: red;">
    <h2 style="margin-top: 20px;"> {{ errorMessage }} </h2>
</div>

<div *ngIf="location" style="color: green; margin-top: 20px;">
    <h2>Location ID {{location.id}} has been successfully Created.</h2>
</div>
