<div class="text-form">
  <h2>Enter Information For Each Attribute of the Location to be Added</h2>
  <div class="form-container">
    <mat-form-field appearance="fill" class="custom-width">
      <mat-label class="input-text">Enter Location Code</mat-label>
      <input matInput [(ngModel)]="locationCode">
    </mat-form-field>
    <mat-form-field appearance="fill" class="custom-width">
      <mat-label class="input-text">Enter Name</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field appearance="fill" class="custom-width">
      <mat-label class="input-text">Enter Description</mat-label>
      <input matInput [(ngModel)]="description">
    </mat-form-field>
    <mat-form-field appearance="fill" class="custom-width">
      <mat-label>Location Type</mat-label>
      <mat-select [(ngModel)]="selectedTypeId">
        <mat-option *ngFor="let type of types" [value]="type.id">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="custom-width">
      <mat-label class="input-text">Enter Parent Guid</mat-label>
      <input matInput [(ngModel)]="parentId">
    </mat-form-field>
  </div>
</div>

<label class="custom-label">
    <mat-slide-toggle type="checkbox" [(ngModel)]="inventoryLocation" class="custom-text"> 
        <span>Inventory Location </span>
    </mat-slide-toggle>
    <button mat-stroked-button class="custom-outline custom-margin" (click)="createData()">Submit</button>
</label>
 
<div *ngIf="errorMessage" class="error-message">
    <h2> {{ errorMessage }} </h2>
</div>

<div *ngIf="location" class="success-message">
    <h2>Location ID {{location.id}} has been successfully Created.</h2>
</div>
