<div class="custom-header">
    <h2 color="">Search a Location by ID</h2> 

    <div class="custom-bottom">
      <mat-form-field class="custom-width"> 
        <mat-label class="input-text">Enter ID</mat-label>
        <input matInput [(ngModel)]="id">
      </mat-form-field>
    </div>

    <button mat-stroked-button class="custom-outline submit-button" (click)="getData()">Submit</button>
</div>

<div *ngIf="errorMessage" class="error-message">
  <h2> {{ errorMessage }} </h2>
</div>

<div *ngIf="location" class="custom-margin">
  <h2>Location Details</h2>
  <p>
    <span class="custom-text">ID:</span> {{ location.id }}
  </p>
  <p>
    <span class="custom-text">Name:</span> {{ location.name }}
  </p>
  <p>
    <span class="custom-text">Description:</span> {{ location.description }}
  </p>
  <p>
    <span class="custom-text">Location Code:</span> {{ location.location_code }}
  </p>
  <p>
    <span class="custom-text">Parent Id:</span> {{ location.parent_id }}
  </p>
</div>
