<!-- <div class="button-container">
  <button mat-stroked-button routerLink="/home" >Back</button>
</div> -->

<div style="margin-top: 30px;">
    <h2 color="">Search a Location by ID</h2>
    <!-- <input matNativeControl type="text" [(ngModel)]="id" placeholder="Enter ID" style="width: 500px;"> -->

    <div style="margin-bottom: 10px;">
      <mat-form-field style="width: 30%;">
        <mat-label class="input-text">Enter ID</mat-label>
        <input matInput [(ngModel)]="id">
      </mat-form-field>
    </div>

    <button mat-stroked-button class="custom-outline" style="margin-left: 10px;" (click)="getData()">Submit</button>
</div>

<div *ngIf="errorMessage" style="color: red;">
  <h2 style="margin-top: 20px;"> {{ errorMessage }} </h2>
</div>

<div *ngIf="location" style="color: white; margin-top: 20px;">
  <h2>Location Details</h2>
  <p style="margin-left: 0;">
    <span style="font-weight: bold;">ID:</span> {{ location.id }}
  </p>
  <p style="margin-left: 0;">
    <span style="font-weight: bold;">Name:</span> {{ location.name }}
  </p>
  <p style="margin-left: 0;">
    <span style="font-weight: bold;">Description:</span> {{ location.description }}
  </p>
  <p style="margin-left: 0;">
    <span style="font-weight: bold;">Location Code:</span> {{ location.location_code }}
  </p>
  <p style="margin-left: 0;">
    <span style="font-weight: bold;">Parent Id:</span> {{ location.parent_id }}
  </p>
</div>
