<nav class="button-container" style="margin-top: 10px;">
    <button routerLink="/locations" mat-stroked-button style="margin-right: 10px;">Get all Locations</button>
    <button routerLink="/get" mat-stroked-button style="margin-right: 10px;">Get location by id</button>
    <button routerLink="/delete" mat-stroked-button style="margin-right: 10px;">Delete Location</button>
    <button routerLink="/create" mat-stroked-button style="margin-right: 10px;">Create Location</button>
    <button routerLink="/update" mat-stroked-button>Update Location</button>
</nav>
<button mat-stroked-button routerLink="/hydrator" style="margin-left: 20px; margin-top: 10px;">Data Hydrator</button>

