.centered-text {
    text-align: center; 
  }

.center-spinner{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
  
.highlighted-text {
  display: inline-block; 
  background-color: #007bff;  
  color: white;  
  padding: 10px 20px;  
  border-radius: 20px;  
  margin-top: 20px;  
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.dark-theme {
  background-color: #343a40; 
  color: #ffffff; 
}