
<div class="centered-text">
  <app-nav-bar></app-nav-bar>
  <router-outlet></router-outlet>

</div>

<app-toggle-theme></app-toggle-theme>
<!-- <div class="app-container" [class.dark-theme]="isDarkMode">
  <app-toggle-theme></app-toggle-theme> 
  Other components and content of your application
</div> -->
<!-- <body class="dark-mode">
  No content should be directly placed in the body except the app-root
</body> -->

<!-- <button mat-icon-button (click)="toggleTheme()">
  <mat-icon>{{ isDarkMode ? 'wb_sunny' : 'nights_stay' }}</mat-icon>
</button> -->