<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark border-bottom border-body" style="background-color: transparent;">
    <div class="container-fluid">
      <!-- Centered Navbar Brand -->
      <a class="navbar-brand" href="#" style="font-size: 25px;">Data Hydrator</a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" style="margin-left: 15%;" id="navbarNav">
        <ul class="navbar-nav" style="font-size: 17px;">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/locations">Locations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/get">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/create">Create</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/delete">Delete</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/update">Update</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
