
  /* .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  } */

  .navbar-nav {
    margin-left: auto;
  }

  .nav-item {
    margin-left: 20px;
  }

  @media (max-width: 991px) {
    .navbar-brand {
      position: static;
      transform: none;
    }
    .navbar-nav {
      margin-left: 0;
    }
    .nav-item {
      margin-left: 0;
    }
  }