
.nav-link:hover {
  /* color: #6db0f8 !important; */
  color: darkgray !important;
}

.nav-link.active-link {
  /* border-bottom: 2px solid #007bff !important;  */
  color: rgb(148, 148, 148) !important;
}

  .collapse {
    margin-left: 15%;
  }

  .navbar-brand {
    font-size: 25px;
  }

  .theme-button {
    margin-left: 55%;
  }

  /* .navbar-nav {
    margin-left: 5px;
    margin-left: auto;
    font-size: 17px;
  } */

  .navbar-nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1; /* Allow the nav links to take available space */
    justify-content: center; /* Center the links */
    font-size: 17px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .custom-margin {
    margin-left: 25%;
  }

  .navbar-background {
    background-color: transparent;
  }

  .nav-item {
    margin-left: 20px;
    margin-bottom: -20px;
    color: primary !important;
  }

  @media (max-width: 991px) {
    .navbar-brand {
      position: static;
      transform: none;
    }
    .navbar-nav {
      margin-left: 0;
    }
    .nav-item {
      margin-left: 0;
    }
  }

  .loader-container {
    position: fixed;
    width: 100%;
    z-index: 99;
  }