
  /* .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  } */
   /* .navbar-brand {
    color: primary;
   }
   
   .nav.navbar-nav.navbar-right li a {
    color: primary;
    }    */
  .collapse {
    margin-left: 15%;
  }

  .navbar-brand {
    font-size: 25px;
  }

  .theme-button {
    margin-left: 55%;
  }

  .navbar-nav {
    margin-left: 5px;
    /*margin-left: auto;*/
    font-size: 17px;
  }

  .navbar-background {
    background-color: transparent;
  }

  .nav-item {
    margin-left: 20px;
    margin-bottom: -20px;
    color: primary !important;
  }

  @media (max-width: 991px) {
    .navbar-brand {
      position: static;
      transform: none;
    }
    .navbar-nav {
      margin-left: 0;
    }
    .nav-item {
      margin-left: 0;
    }
  }

  .loader-container {
    position: fixed;
    width: 100%;
    z-index: 99;
  }