<div class="text-form"> 
    <div class="custom-bottom">
      <h2>Generate Parent and Child Locations</h2>
        <mat-form-field appearence="fill" class="custom-width">
          <mat-label class="input-text">Enter name format</mat-label>
          <input matInput [(ngModel)]="nameFormat">
        </mat-form-field>
      </div>
    
      <div class="custom-bottom">
        <mat-form-field class="custom-width">
          <mat-label class="input-text">Enter number of entries</mat-label>
          <input matInput [(ngModel)]="entries">
        </mat-form-field>
      </div>
    
      <div class="custom-bottom">
        <mat-form-field class="custom-width">
          <mat-label class="input-text">Enter child depth</mat-label>
          <input matInput [(ngModel)]="childDepth">
        </mat-form-field>
      </div>
</div>

<button mat-stroked-button class="custom-outline submit-button" (click)="hydrator()">Submit</button>

<div *ngIf="errorMessage" class="error-message">
    <h2> {{ errorMessage }} </h2>
</div>

<div *ngIf="successMessage" class="success-message">
    <h2> {{ successMessage }} </h2>
</div>